body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

.login-box {
    width: 350px;
    background: #e8f5e9;
    padding: 30px;
    border-radius: 10px;
    margin: 100px auto;
}

.login-img {
    width: 120px;
    border-radius: 100px;
    
}

.quiz-box {
    width: 500px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 80px auto;
}

.quiz-header {
    background: #7cbf7c;
    padding: 10px;
    border-radius: 6px;
    color: white;
}

.bg_dark{
    background-color: #ffffff;
}

.nav{
    background-color: #5EB562;
    width: 100%;
    height: 80px;
}